@model GuildCars.Models.ViewModels.ResetPasswordVM

@{
    ViewBag.Title = "ResetPassword";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Reset Password</h3>
        @*@Html.ActionLink("Return to List", "List", "Make")*@
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        @using (Html.BeginForm("ResetPassword", "ResetPassword", FormMethod.Post))
        {
            <div class="form-group">         
                @Html.ValidationSummary()
                @Html.HiddenFor(m => m.UserName)
                <label>Current Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Current Password" })
                <label>New Password</label>
                <br /> 
                @Html.ValidationMessageFor(m=>m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                <label>Retype New Password</label>
                <br />
                @Html.ValidationMessageFor(m => m.NewPasswordRetype)
                @Html.PasswordFor(m => m.NewPasswordRetype, new { @class = "form-control", placeholder = "Retype New Password" })

                @*@if (!@Model.Result.Success)
                {
                    <div class="divError">
                        <b>
                            @Html.DisplayFor(m => m.Result.ErrorMessage)
                        </b>
                    </div>
                }*@
                <div class="divSave">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Cancel", "List", "Model", null, new { @class = "btn btn-info" })
                </div>
            </div>
        }
    </div>
</div>  

