@model GuildCars.Models.ViewModels.UserVM
@{
    ViewBag.Title = "Add";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add User</h3>
        @*@Html.ActionLink("Return to List", "List", "User")*@
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        @using (Html.BeginForm("Add", "User", FormMethod.Post))
        {
            <div class="form-group">
                @Html.HiddenFor(m => m.Id)
                <label>User Name</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                <label>Role</label>
                @Html.DropDownListFor(m => m.Role, Model.RoleItems, null, new { @class = "form-control" })                
                <label>Password</label>
                @Html.ValidationMessageFor(m=>m.PasswordHash)
                @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control", placeholder = "Password" })
                <label>Confirm Password</label>
                @Html.ValidationMessageFor(m => m.ConfrimPassword)
                @Html.PasswordFor(m => m.ConfrimPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                </div>
                <div class="divSave">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Cancel", "List", "User", null, new { @class = "btn btn-info" })
                </div>
        }
    </div>
</div>

