@model GuildCars.Models.User
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-xs-12">
        <h3>User</h3>
        @*@Html.ActionLink("Return to List", "List", "User")*@
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Edit", "User", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.IsActive)
            var tmp = Model;
            if (@tmp.IsActive == true)
            {
                <p>
                    Are you sure that you wish to deactivate the user @Html.DisplayFor(m => m.UserName)?
                </p>
            }
            else
            {
                <p>
                    Are you sure that you wish to reactivate the user @Html.DisplayFor(m => m.UserName)?
                </p>
            }


            if (@tmp.IsActive == true)
            {
                <button type="submit" class="btn btn-danger" style="width:90px">Deactivate</button>
            }
            else
            {
                <button type="submit" class="btn btn-danger">Activate</button>
            }
            @Html.ActionLink("Cancel", "List", "User", null, new { @class = "btn btn-info" })

        }
    </div>
</div>

