@model List<GuildCars.Models.ViewModels.SpecialVM>

@{
    ViewBag.Title = "Special";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Special</h2>
        @Html.ActionLink("Add Special", "Add", "Special", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>                    
                    <th>Display Start</th>
                    <th>Display End</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.Title</td>
                        <td>@c.Description</td>
                        <td>@c.FDate.Value.ToString("MMMM dd, yyyy")</td>
                        <td>@c.TDate.Value.ToString("MMMM dd, yyyy")</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Special", new { specialId = c.SpecialId }, null)</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Special", new { specialId = c.SpecialId }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>