@model GuildCars.Models.ViewModels.MakeVM
@{
    ViewBag.Title = "Delete Make";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Make</h3>
        @*@Html.ActionLink("Return to List", "List", "Make")*@
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        @using (Html.BeginForm("Delete", "Make", FormMethod.Post))
        {
            @Html.HiddenFor(c => c.MakeId)
            @Html.HiddenFor(c => c.Description)
            <p>Are you sure that you wish to delete @Html.DisplayFor(c=>c.Description)?</p>
            if (!@Model.Result.Success)
                {
                <div class="divError">
                    <b>
                        @Html.DisplayFor(m => m.Result.ErrorMessage)
                    </b>
                </div>
            }
            <hr />
            <div class="divSave">
                <button type="submit" class="btn btn-danger">Delete</button>
                @Html.ActionLink("Cancel", "List", "Make", null, new { @class = "btn btn-info" })
            </div>
        }
    </div>
</div>     