@model List<GuildCars.Models.State>

@{
    ViewBag.Title = "State";
}

<div class="row">
    <div class="col-xs-12">
        <h2>State</h2>
        @Html.ActionLink("Add State", "Add", "State", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>State Abbreviation</th>
                    <th>State</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.StateAbbreviation</td>
                        <td>@c.StateName</td>
                        <td>@Html.ActionLink("Edit", "Edit", "State", new { stateAbbreviation = c.StateAbbreviation }, null)</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Make", new { stateAbbreviation = c.StateAbbreviation }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>