@model GuildCars.Models.ViewModels.ContactVM

@{
    ViewBag.Title = "Add Contact";
}

<style>
    #map {
        height:300px;
        background-color:red;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <h3>Contact</h3>        
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        @using (Html.BeginForm("Add", "Contact", FormMethod.Post))
        {
            <div class="form-group">
                <label>Name</label>
                @Html.ValidationMessageFor(c=> c.Name)
                @Html.TextBoxFor(s => s.Name, new { @class = "form-control", placeholder = "Name" })
                <label>Email</label>
                @Html.ValidationMessageFor(c => c.Email)
                @Html.TextBoxFor(s => s.Email, new { @class = "form-control", placeholder = "Email" })
                <label>Phone</label>
                @Html.ValidationMessageFor(c => c.Phone)
                @Html.TextBoxFor(s => s.Phone, new { @class = "form-control", placeholder = "Phone" })
                <label>Message</label>
                @Html.ValidationMessageFor(c => c.Message)
                @Html.TextAreaFor(s => s.Message, new { @class = "form-control", placeholder = "Message"})
            </div>

            @*if (!@Model.Result.Success)
                {
                <div class="divError">
                    <b>
                        @Html.DisplayFor(m => m.Result.ErrorMessage)
                    </b>
                </div>
            }*@

            <div class="divSave">
                <button type="submit" class="btn btn-primary">Save</button>
                @Html.ActionLink("Cancel", "Home", "Home", null, new { @class = "btn btn-info" })
            </div>
        }
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
        <div id="map"></div>
        <br />
        <p>15 S 5th St #600, Minneapolis, MN 55402</p>
        <p>Tel: 855.599.9584</p>
    </div>
    
</div>      

<script>
    var map;
    function initMap() {
        var location = { lat: 44.978980, lng: -93.271834 };
        map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 18
        });

        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=" type="text/javascript"></script>