@model IEnumerable<GuildCars.Models.ViewModels.ContactVM>

@{
    ViewBag.Title = "Contact";
}

<div class="row">

    <div class="col-xs-12">
        <h2>Contact List</h2>
        @Html.ActionLink("Return to home", "Home", "Home")
    </div>
</div>

<div class="container">
    @foreach (var s in Model)
    {
        <div class="row divShow">            
            <div class="col-xs-8">
                <b>@s.Name</b><br />
                <small>
                    @s.Email - @s.Phone
                </small><br /><br />
                <p style="white-space:pre-line">@s.Message</p>
            </div>
        </div>
      
    }
</div>